// COLORS
@green: #8ed948;
    @green-dark: darken(@green, 15%);
    @green-darker: #115820;
@red: #ca1f32;
    @red-light: lighten(@red, 15%);
@white: #fff;
@black: #000;

@color-background: @green;
@color-top-background: lighten(@green, 15%);
@color-foreground: @white;

// SIZES
@default-radius: 3px;