.ariane {
  
  &:after {
    content: " ";
    display: block;
    margin: 0 15px;
    border-bottom: 1px solid @green-desaturate;
  }
  
  ul { margin-bottom: 0; }
  a { 
    .font-titles();
    font-weight: 400;
    color: @green-darker-than-dark;
  }
}